---
const currentYear = new Date().getFullYear()
---

<footer class="flex w-full bg-indigo-950/40 backdrop-blur justify-between px-28 py-8">
  <h3>
    Casi todos los derechos reservados
  </h3>

  <h3>
    Ignacio Varela {currentYear}
  </h3>
</footer>